.account-overview-bg {
	height: 10rem;
	border-bottom: 1px solid #ddd;
}

.account-overview-img {
	margin: 1rem;
	display: inline-block;
	border: 5px solid #ffffff;
	border-radius: 5px;
	margin-top: -3rem;
}

.account-overview-fields {
	display: inline-block;
}